In [8]:
#import the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

dataset = pd.read_excel("dashboard.xlsx")

dataset.head()

  Country State  Time_Period  Outcome       Date
0      US    PA  10h00-11h00  Failure 2021-04-01
1      US    MS   9h00-10h00  Success 2021-04-01
2      US    TX   9h00-10h00  Success 2021-04-01
3      US    NJ  10h00-11h00  Success 2021-04-01
4      US    NM   9h00-10h00  Success 2021-04-01

In [9]:
#find general information about data
print(dataset.shape)
print(dataset.columns)
print(dataset.isnull().sum())

(366, 5)
Index(['Country', 'State', 'Time_Period', 'Outcome', 'Date'], dtype='object')
Country        0
State          0
Time_Period    0
Outcome        0
Date           0
dtype: int64

In [12]:
#number of failures and successes
print(dataset['Outcome'].value_counts())
print(dataset['Date'].value_counts())

Failure     228
Success     109
Time out     29
Name: Outcome, dtype: int64
2021-04-22    63
2021-04-19    50
2021-04-12    43
2021-04-15    31
2021-04-21    29
2021-04-02    24
2021-04-20    20
2021-04-01    16
2021-04-05    16
2021-04-16    15
2021-04-09    14
2021-04-08    12
2021-04-13    11
2021-04-14    11
2021-04-06     6
2021-04-07     5
Name: Date, dtype: int64

In [16]:
totac=dataset.groupby('Date')['Outcome'].count()
print(totac)
totsuc=dataset[dataset['Outcome']=='Success'].groupby('Date')['Outcome'].count()
print(totsuc)
totnsuc=dataset[dataset['Outcome']=='Failure'].groupby('Date')['Outcome'].count()
print(totnsuc)


plt.scatter(totsuc['Date'], totsuc, color = "red")

Date
2021-04-01    16
2021-04-02    24
2021-04-05    16
2021-04-06     6
2021-04-07     5
2021-04-08    12
2021-04-09    14
2021-04-12    43
2021-04-13    11
2021-04-14    11
2021-04-15    31
2021-04-16    15
2021-04-19    50
2021-04-20    20
2021-04-21    29
2021-04-22    63
Name: Outcome, dtype: int64
Date
2021-04-01     8
2021-04-02     4
2021-04-05     3
2021-04-07     2
2021-04-08     2
2021-04-09     1
2021-04-12    24
2021-04-13     2
2021-04-15     8
2021-04-16     5
2021-04-19     8
2021-04-20    10
2021-04-21     9
2021-04-22    23
Name: Outcome, dtype: int64
Date
2021-04-01     8
2021-04-02    17
2021-04-05    13
2021-04-06     4
2021-04-07     3
2021-04-08     9
2021-04-09    13
2021-04-12    19
2021-04-13     7
2021-04-14     5
2021-04-15    20
2021-04-16    10
2021-04-19    36
2021-04-20    10
2021-04-21    15
2021-04-22    39
Name: Outcome, dtype: int64

KeyError: 'Date'